/* Container */

/* Header */

/* Navigation Bar */

/* Contents */

/* Footer */
/*Fixed Footer Source: https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}